

*{
    margin: auto;
}

.first-portion{
    background-color: #1f2937;
}


.header-logo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


.links{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}

.header-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    
    
    
    
}

.left-header{
    color: #f9faf8;
    size: 48px;
    font-weight: 700px;
    margin: 50px;
    padding: 50px;
    width: 400px;
    

   
}

.hands-image{
    margin: 50px;
}


