

*{
    margin: auto;
}

.first-portion{
    background-color: #1f2937;
}


.header-logo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


.links{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}

.header-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    
    
    
    
}

.left-header{
    color: #f9faf8;
    size: 48px;
    font-weight: 700px;
    margin: 50px;
    padding: 50px;
    width: 400px;
    

   
}

.hands-image{
    margin: 50px;
}

.random-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    margin: 35px;
}


.row-divs{
    display: flex;
    margin: 100px;
}

.box-blue{
    border: 2px solid blue;
    padding: 16px;
    margin: 16px;
    height: 85px;

}

.third-portion{
    background-color: #e5e7eb;
    
}

.quote{
    font-size: 36px;
    color: #1f2937;
    margin: 100px;
    padding: 100px;
}

.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 35px;

}

.fourth-portion{
    background-color: #3882f6;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    
    
}


.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}


